body {
    background-image:url("https://avatars.mds.yandex.net/i?id=407c507b163741350640b96b3c6c4c81_l-3766495-images-thumbs&n=13");
    background-size: cover;/*заставляет изображение полностью покрывать область контейнера, показывая как можно больше изображения, но не искажая его.*/
    background-repeat: no-repeat;/*заставляет изображение не повторяться*/
    display: flex;/*выстроится ровно по осям*/
    justify-content: center;/*все элементы вне зависимости от их ширины имеют горизонтальное позиционирование по центру родительского контейнера.*/
    align-items: center;/*выровнит в центр*/
    height: 100vh;/*обеспечивает заполнение всей высоты видимого экрана элементом, независимо от его родительских блоков.*/
    margin: 0;/*отступ*/
  }


  
  .card {
    border-radius: 20px;/*скругляем элементы*/
  }
